.body {
    background-color: darkgrey;
    margin: 0;
    color: green;
    font-family: monospace;
    width: 100%;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0);
    width: 100%;
    box-shadow: 0 0 0.5rem rgba(30, 29, 29, 0);
}


/*contenido inicio menus*/

.nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    --i-menu: 1;
    --i-close: 0;
}

#menu:target {
    --i-menu: 0;
    --i-close: 1;
}

#menu:target .list--menu {
    opacity: 1;
    pointer-events: initial;
}

.contenido {
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 1024px;
    margin: auto;
}

.img {
    display: block;
}

.img--logo {}

.link {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    transition: 0.25s color;
    text-transform: uppercase;
}

.link:hover {
    color: #ababab53;
}

.list--menu:target {
    opacity: 1;
    pointer-events: initial;
}

.list--menu {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-size: cover;
    background-image: url(../img/menu.png);
    transition: opacity 0.25s;
    justify-content: center;
}

.icon:hover {
    color: #5edb5e;
    align-items: center;
    justify-content: center;
}

.flexbox {
    display: flex;
}

.flexbox--header {
    align-items: center;
    justify-content: space-between;
}

.icon {
    display: flex;
    font-size: 1.5rem;
    transition: 0.25s color;
    color: #fff;
    overflow: hidden;
    text-decoration: none;
}

.icon--menu {
    transform: scale(var(--i-menu));
    position: absolute;
    right: 1rem;
    transition: transform 0.25s;
}

.icon--close {
    transform: scale(var(--i-close));
    position: absolute;
    right: 1rem;
    transition: transform 0.25s;
}

.icon--lg {
    font-size: 1.75rem;
}

.icon i {
    display: flex;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .nav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        --i-menu: 1;
        --i-close: 0;
    }
    #menu:target {
        --i-menu: 0;
        --i-close: 1;
    }
    #menu:target .list--menu {
        opacity: 1;
        pointer-events: initial;
    }
    .contenido {
        padding-right: 1rem;
        flex-direction: row;
        padding-left: 1rem;
        max-width: 1024px;
        margin: auto;
    }
    .img {
        display: block;
    }
    .img--logo {
        width: 100px;
        height: 50px;
    }
    .link {
        color: white;
        text-decoration: none;
        flex-direction: row;
        font-size: 2.5rem;
        transition: 0.25s color;
        text-transform: uppercase;
    }
    .link:hover {
        color: #ababab53;
    }
    .list--menu:target {
        opacity: 1;
        pointer-events: initial;
    }
    .list--menu {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        top: 80px;
        right: 0;
        flex-direction: row;
        bottom: 0;
        left: 0;
        background-image: url(../img/menu.png);
        transition: opacity 0.25s;
        justify-content: center;
    }
    .icon:hover {
        color: #5edb5e;
        align-items: center;
        justify-content: center;
    }
    .icon--menu {
        transform: scale(var(--i-menu));
        position: absolute;
        right: 1rem;
        transition: transform 0.25s;
    }
    .icon--close {
        transform: scale(var(--i-close));
        position: absolute;
        right: 1rem;
        transition: transform 0.25s;
    }
    .icon i {
        display: flex;
    }
    .list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}


/*fin list menus*/


/*contenido inicio hero*/

 .hero {

    display: flex;
position: relative;
align-items: end;
    max-width: 1024px;
    min-height: 600px;
    margin: 0 auto;
   
    
}

.img--hero-2 {
    display: flex;
    float: inline-end; 
left: 0px;
z-index: 0;
} 
.maquina__escribir{
    border: 2px solid black;
    margin: 0;
    top: 0;
    height: 250px;
    width: 500px;
    font-size: 23px;
    padding: 10px;
    font-family: monospace;
    background-color: #18bdec;
    float: right;
}

/*fin  hero*/


/*inicio main*/

.division {
    background-color: white;
    height: 1rem;
    width: 100%;
}

.container-dos {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    flex-wrap: wrap;
    background-image: url(../img/fondo-main.jpg);
    background-size: cover;
}

.list__redes {
    margin: 0;
    padding: 0;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.carousel-control-prev,
.carousel-control-next {
    transform: rotate(90deg);
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
    transform-origin: center center;
    z-index: 1;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    left: 0;
}


/*column dos */

.font-color {
    background-color: rgba(238, 70, 70, 0.275);
    padding: 10px;
}

.item {
    margin-bottom: 5px;
    border-radius: 5%;
}

.contenedorImg {
    position: absolute;
    display: inline-block;
    align-items: end;
    justify-content: end;
}

.seccion-img {
    border-radius: 5%;
}

.seccion-img:hover {
    opacity: 0.6;
    border-radius: 5%;
    cursor: pointer;
}

.nombre-img {
    display: flex;
    position: absolute;
    font-family: monospace;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

.button {
    margin: 0;
    padding-top: 25px;
    background-color: #000000f3;
    color: white;
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: rgba(0, 0, 205, 0.696);
}

.section-map {
    background-color: blue;
}


/*fin main*/


/** 
.text {
    writing-mode: vertical-rl;
    /* Establece la escritura vertical de derecha a izquierda 
    text-orientation: upright;
    /* Establece la orientación vertical del texto 
    white-space: nowrap;
    /* Evita el ajuste automático del texto al contenedor 
    font-size: 20px;
    /* Ajusta el tamaño de fuente según sea necesario 
    line-height: 1;
    /* Ajusta el espaciado entre líneas según sea necesario 
}

**/


/*incio section*/


/*fin section*/


/*inicio utilidades*/

.d-flex {
    display: flex;
}

.gap-xs {
    gap: 1rem;
}

.gap-md {
    gap: 2rem;
}

.d-none {
    display: none;
}


/*fin utilidades*/

.img-footer {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 50%;
    /* box-shadow: 10px 5px 5px white; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.ulllll {
    position: relative;
    margin: 0;
    list-style: none;
}

.img-ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-top: 15px;
}
/*#video*/

#videosolt {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -1;
    position: fixed;
    
  }
    #videosolt video {
        position: fixed;
        width: auto;
        height: auto;
        zoom: 200%;
      
    }
    #videosolt video::-webkit-media-controls {
        display: none;
    }
  /*mediaquery videos*/